<h1>Teacher Dashboard</h1>

<%= link_to "Create new achievement", new_achievement_path %>

<table>
 <tbody>
     <% @teachers_students.each do |student| %>
       <tr><td><%=  student.name  %></td></tr>
       <tr>
         <% @achievements.each do |achievement| %>
           <tr>
             <td><%= achievement.name %></td>
             <td><%= achievement.point_value %></td>
             <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
             <td><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           </tr>
         <% end %>
       </tr>
     <% end %>
 </tbody>
</table>

<%= link_to 'Create new teacher', new_teacher_path %><br>
<%= link_to 'Create new student', new_student_path %><br>
<%= link_to 'Create new parent', new_parent_path %><br>

<%= link_to 'Change your password', edit_teacher_path(Teacher.find_by(id: session[:teacher_id] )) %>
